In [1]:
import pandas as pd
import numpy as np

# CHARGEMENT DES DONNEES VELIB ET EXTERNES

In [130]:
df_communes = pd.read_csv("20230607 - donnees externes communes CSV.csv", sep=';')
df_communes

,Commune,nb chb hotels,Population en 2019,Superficie en 2019,"Mediane du revenu disponible par unite de consommation en 2020, en euros",Emploi total (salarie et non salarie) au lieu de travail en 2019,Couleur politique maire,Departement
0,Paris 01,4201,15917,"1,8",33960,66049,GAUCHE,75
1,Paris 02,2304,21595,1,32380,65082,GAUCHE,75
2,Paris 03,1118,34025,"1,2",33180,32029,GAUCHE,75
3,Paris 04,948,29131,"1,6",31790,41494,GAUCHE,75
4,Paris 05,3092,58227,"2,5",34650,53063,DROITE,75
...,...,...,...,...,...,...,...,...
75,Saint-Maurice,195,14189,"1,4",27830,6012,DROITE,94
76,Villejuif,213,55208,"5,3",21020,22214,GAUCHE,94
77,Vincennes,161,49788,"1,9",33580,17021,DROITE,94
78,Vitry-sur-Seine,201,95510,"11,7",19100,27658,GAUCHE,94
79,Argenteuil,365,111038,"17,2",18930,29685,DROITE,95

In [4]:
df_allrows_summer = pd.read_csv("df_totallycleaned_Velib_summer_2022.csv")
df_allrows_summer = df_allrows_summer.drop(columns = "Unnamed: 0")
df_allrows_summer

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken,StationPlus
0,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 00:40:43+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 01:00:00+02:00,0,NON
1,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 01:37:31+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 02:00:00+02:00,0,NON
2,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 02:37:39+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 03:00:00+02:00,0,NON
3,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 03:37:48+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 04:00:00+02:00,0,NON
4,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 04:39:55+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 05:00:00+02:00,0,NON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051234,Youri Gagarine - Karl Marx,48003,3,2,2022-08-31 19:06:05+02:00,5,17,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 19:00:00+02:00,0,NON
4051235,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 19:58:14+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 20:00:00+02:00,0,NON
4051236,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 21:06:53+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 21:00:00+02:00,0,NON
4051237,Youri Gagarine - Karl Marx,48003,2,2,2022-08-31 22:06:58+02:00,4,18,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 22:00:00+02:00,0,NON
4051238,Youri Gagarine - Karl Marx,48003,3,3,2022-08-31 23:07:05+02:00,6,16,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 23:00:00+02:00,0,NON

In [5]:
df_allrows_summer[(df_allrows_summer["is_renting"] == "OUI") & (df_allrows_summer["is_returning"] == "NON")]

Empty DataFrame
Columns: [name, stationcode, ebike, mechanical, duedate, numbikesavailable, numdocksavailable, capacity, is_renting, is_installed, is_returning, Latitude, Longitude, commune, month, interval, numbikesordocksbroken, StationPlus]
Index: []

In [6]:
df_allrows_summer[(df_allrows_summer["is_renting"] == "NON") & (df_allrows_summer["is_returning"] == "OUI")]

Empty DataFrame
Columns: [name, stationcode, ebike, mechanical, duedate, numbikesavailable, numdocksavailable, capacity, is_renting, is_installed, is_returning, Latitude, Longitude, commune, month, interval, numbikesordocksbroken, StationPlus]
Index: []

In [7]:
df_allrows_summer[(df_allrows_summer["is_renting"] == "NON")].shape

(18167, 18)

In [8]:
df_allrows_summer.loc[:, "duedate"] = pd.to_datetime(df_allrows_summer["duedate"])

In [9]:
df_allrows_summer.loc[:, "interval"] = pd.to_datetime(df_allrows_summer["interval"])

In [10]:
df_allrows_summer

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken,StationPlus
0,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 00:40:43+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 01:00:00+02:00,0,NON
1,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 01:37:31+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 02:00:00+02:00,0,NON
2,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 02:37:39+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 03:00:00+02:00,0,NON
3,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 03:37:48+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 04:00:00+02:00,0,NON
4,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 04:39:55+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 05:00:00+02:00,0,NON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051234,Youri Gagarine - Karl Marx,48003,3,2,2022-08-31 19:06:05+02:00,5,17,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 19:00:00+02:00,0,NON
4051235,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 19:58:14+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 20:00:00+02:00,0,NON
4051236,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 21:06:53+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 21:00:00+02:00,0,NON
4051237,Youri Gagarine - Karl Marx,48003,2,2,2022-08-31 22:06:58+02:00,4,18,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 22:00:00+02:00,0,NON
4051238,Youri Gagarine - Karl Marx,48003,3,3,2022-08-31 23:07:05+02:00,6,16,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 23:00:00+02:00,0,NON

In [11]:
df_allrows_summer["name"].nunique()

1428

In [12]:
print(f'Il y a {df_allrows_summer["stationcode"].nunique()} stations Vélib au total')

Il y a 1428 stations Vélib au total

In [13]:
# filtrer le df avec seulement les stations en marche !!!
df_summer = df_allrows_summer[df_allrows_summer["is_renting"] == "OUI"]
df_summer.shape

(4033072, 18)

In [96]:
df_allrows_summer['stationcode'].nunique()

1428

In [97]:
df_summer['stationcode'].nunique()

1424

In [14]:
print(f'Il y a {df_summer["stationcode"].nunique()} stations Vélib au total qui fonctionnent')

Il y a 1424 stations Vélib au total qui fonctionnent

In [99]:
print("Il y a donc que 4 stations qui n'ont jamais marché mais 178 au total qui n'ont pas marché pendant un moment")

Il y a donc que 4 stations qui n'ont jamais marché mais 178 au total qui n'ont pas marché pendant un moment

In [108]:
(df_summer.groupby("commune")["stationcode"].nunique().index.str.contains("Paris"))

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [110]:
cond = (df_summer.groupby("commune")["stationcode"].nunique().index.str.contains("Paris"))
df_summer.groupby("commune")["stationcode"].nunique()[cond]

989

# ANALYSE - PAR COMMUNE

# 1) STATIONS

## Nombre total de stations dans les différentes communes

In [15]:
nb_stations_bycommune = df_summer.groupby("commune")["stationcode"].nunique().sort_values(ascending = False)
nb_stations_bycommune

commune
Paris 15             88
Paris 20             69
Paris 12             68
Paris 13             66
Paris 17             64
                     ..
Puteaux               2
Noisy-le-Sec          2
Joinville-le-Pont     2
Bois-Colombes         1
Ville-d'Avray         1
Name: stationcode, Length: 79, dtype: int64

# 2) BORNETTES

## Nombre total de bornettes dans les différentes communes

In [16]:
df_summer.groupby(["commune", "name"])["capacity"].first()

commune          name
Alfortville      Carnot - Paquerettes                   26
                 Gare RER - Malleret-Joinville          20
                 Marne - Charles de Gaulle              27
                 Place de l'Europe - Alfortville        24
                 Victor Hugo - Ecoles                   25
                                                        ..
Vitry-sur-Seine  Paul Vaillant-Couturier - Gare RER     26
                 Place Saint-Just                       22
                 Place de l'Eglise - Vitry-sur-Seine    28
                 Quai Jules Guesde - Saint-Simon        30
                 Youri Gagarine - Commune de Paris      33
Name: capacity, Length: 1424, dtype: int64

In [17]:
nb_bornettes_bycommune = df_summer.groupby(["commune", "name"])["capacity"].mean().groupby("commune").sum().sort_values(ascending = False).round().astype(int)
nb_bornettes_bycommune

commune
Paris 15          3297
Paris 12          2670
Paris 13          2252
Paris 17          2198
Paris 16          2198
                  ...
Puteaux             58
Noisy-le-Sec        58
Bourg-la-Reine      55
Bois-Colombes       30
Ville-d'Avray       24
Name: capacity, Length: 79, dtype: int32

In [18]:
# totalité de bornettes
nb_bornettes_bycommune.sum()

44982

In [19]:
nb_bornettes_bycommune["Alfortville"]

122

## Nombre moyen de bornettes par station dans les différentes communes

In [20]:
nbmoyen_bornettesstation_bycommune = df_summer.groupby("commune")["capacity"].mean().sort_values(ascending = False).round().astype(int)
nbmoyen_bornettesstation_bycommune

commune
Nogent-sur-Marne       44
Joinville-le-Pont      42
Les Lilas              42
Paris 12               39
Paris 07               38
                       ..
Colombes               24
Romainville            22
Cachan                 21
La Garenne-Colombes    21
Chaville               21
Name: capacity, Length: 79, dtype: int32

## Nombre de bornettes par station

In [21]:
nb_bornettes_bystation = df_summer.groupby(["name"])["capacity"].mean().sort_values(ascending = False).round().astype(int)
nb_bornettes_bystation

name
Solidays - 24 au 26 juin - 16h00 à 5h00    105
Emeriau - Beaugrenelle                      74
Grenelle - Dr Finlay                        71
Censier - Santeuil                          69
Fabre d'Eglantine - Place de la Nation      68
                                          ...
Messine - Place Du Perou                    12
Place des Abbesses                          12
Pyrenees - Plaine                           12
Brancion - Lefebvre                         11
Toffier Decaux - Cartier Bresson             7
Name: capacity, Length: 1424, dtype: int32

In [201]:
nb_bornettes_bystation.mean()

31.588483146067414

# 3) VELOS DISPONIBLES

## Nombre moyen de vélos disponibles par station

In [23]:
nbmoyen_velosdispos_bystation = df_summer.groupby(["name"])["numbikesavailable"].mean().sort_values(ascending = False).round().astype(int)
nbmoyen_velosdispos_bystation

name
Regnault - Patay                                      53
Emeriau - Beaugrenelle                                51
Grenelle - Dr Finlay                                  47
Parvis Corentin Celton                                46
Parc Andre Citroën                                    46
                                                      ..
Dunkerque - Trudaine                                   2
Batignolles - Rome                                     2
Jean Oestreicher - Porte de Champerret                 2
Gare du Nord - Saint-Vincent de Paul                   2
Marechal Leclerc de Hauteclocque - Marche Buzenval     2
Name: numbikesavailable, Length: 1424, dtype: int32

In [24]:
int(nbmoyen_velosdispos_bystation.mean())

11

## Nombre total de vélos disponibles en moyenne dans les différentes communes

In [25]:
nb_velosdispos = df_summer.groupby(["commune", "name"])["numbikesavailable"].mean().sort_values(ascending = False).round().astype(int)
nb_velosdispos_bycommune = nb_velosdispos.groupby("commune").sum()
nb_velosdispos_bycommune

commune
Alfortville            89
Arcueil                54
Argenteuil             77
Asnieres-sur-Seine    140
Aubervilliers         165
                     ...
Vanves                 58
Ville-d'Avray           8
Villejuif              88
Vincennes             115
Vitry-sur-Seine       282
Name: numbikesavailable, Length: 79, dtype: int32

## Nombre moyen de vélos disponibles par station dans les différentes communes

In [26]:
nb_totalmoy_velosdispos_bycommune = nb_velosdispos.groupby("commune").mean().astype(int)
nb_totalmoy_velosdispos_bycommune

commune
Alfortville           17
Arcueil               13
Argenteuil            15
Asnieres-sur-Seine    15
Aubervilliers         12
                      ..
Vanves                 8
Ville-d'Avray          8
Villejuif              8
Vincennes             11
Vitry-sur-Seine       17
Name: numbikesavailable, Length: 79, dtype: int32

# 4) PLACES DISPONIBLES

## Nombre moyen de places disponibles par station

In [27]:
nbmoyen_placesdispos_bystation = df_summer.groupby(["name"])["numdocksavailable"].mean().sort_values(ascending = False).round().astype(int)
nbmoyen_placesdispos_bystation

name
Solidays - 24 au 26 juin - 16h00 à 5h00    94
Fabre d'Eglantine - Place de la Nation     60
Epee de Bois - Mouffetard                  54
Mozart - Jasmin                            53
Rocher - Laborde                           52
                                           ..
Pont De Charenton                           4
Republique - Louis Loucheur                 4
Les Planetes                                3
Desaix - Edgar Faure                        3
Place Paul Eluard                           3
Name: numdocksavailable, Length: 1424, dtype: int32

In [216]:
nbmoyen_placesdispos_bystation.mean()

19.395365168539325

In [217]:
df_summer["numdocksavailable"].mean()

19.334882937869693

## Nombre total de places disponibles en moyenne dans les différentes communes

In [28]:
nb_placesdispos = df_summer.groupby(["commune", "name"])["numdocksavailable"].mean().sort_values(ascending = False).round().astype(int)
nb_placesdispos_bycommune = nb_placesdispos.groupby("commune").sum()
nb_placesdispos_bycommune

commune
Alfortville            28
Arcueil                60
Argenteuil             81
Asnieres-sur-Seine     81
Aubervilliers         216
                     ...
Vanves                169
Ville-d'Avray          14
Villejuif             160
Vincennes             180
Vitry-sur-Seine       159
Name: numdocksavailable, Length: 79, dtype: int32

## Nombre moyen de places disponibles par station dans les différentes communes

In [29]:
nb_totalmoy_placesdispos_bycommune = nb_placesdispos.groupby("commune").mean().astype(int)
nb_totalmoy_placesdispos_bycommune

commune
Alfortville            5
Arcueil               15
Argenteuil            16
Asnieres-sur-Seine     9
Aubervilliers         16
                      ..
Vanves                24
Ville-d'Avray         14
Villejuif             16
Vincennes             18
Vitry-sur-Seine        9
Name: numdocksavailable, Length: 79, dtype: int32

# 5) DEFECTUEUX

## Nombre moyen de bornettes et/ou vélos défectueux par station

In [30]:
nbmoyen_velosbroken = df_summer.groupby(["commune", "name"])["numbikesordocksbroken"].mean().sort_values(ascending = False).round().astype(int)
nbmoyen_velosbroken_bystation = nbmoyen_velosbroken.groupby("name").first().sort_values(ascending = False).astype(int)
nbmoyen_velosbroken_bystation

name
Malakoff - Place de la Porte Maillot        15
Crozatier - Faubourg Saint-Antoine          13
Grande Armee - Brunel                       13
Cadet - La Fayette                           8
Gare Saint-Lazare - Place de Budapest        8
                                            ..
Place Balard                                -3
Aristide Briand - Place de la Resistance    -4
Bercy - Villot                              -7
BNF - Bibliotheque Nationale de France      -8
Westermeyer - Paul Vaillant-Couturier       -9
Name: numbikesordocksbroken, Length: 1424, dtype: int32

In [31]:
nbmoyen_velosbroken_bystation["Place des Abbesses"]

1

## Nombre total de vélos et/ou bornettes défectueux en moyenne dans les différentes communes

In [32]:
nb_broken = df_summer.groupby(["commune", "name"])["numbikesordocksbroken"].mean().sort_values(ascending = False).round().astype(int)
nb_broken_bycommune = nb_broken.groupby("commune").sum()
nb_broken_bycommune

commune
Alfortville            5
Arcueil                4
Argenteuil             3
Asnieres-sur-Seine    14
Aubervilliers         20
                      ..
Vanves                 7
Ville-d'Avray          1
Villejuif              9
Vincennes             12
Vitry-sur-Seine       18
Name: numbikesordocksbroken, Length: 79, dtype: int32

# <font color='red'>TAUX DE DEFECTUEUX </font>

In [33]:
df_summer["%defectueux"] = round((df_summer.loc[df_summer["StationPlus"] == "NON", "numbikesordocksbroken"]  / df_summer.loc[df_summer["StationPlus"] == "NON", "capacity"]) * 100)

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df_summer["%defectueux"].unique()

array([ 0.,  8.,  3.,  6., 28., 25., 22., 14., 19., 17., 11.,  4., 12.,
       10.,  7., 13., 50., 33., 27., nan, 21., 29.,  5., 24.,  2., 15.,
       18., 20., 23.,  9., 81., 71., 62., 43., 38., 16., 30., 32., 31.,
       26., 46., 41., 40., 35., 47., 66., 59., 52., 48., 44., 56., 39.,
       34., 42., 37., 53., 58.,  1., 51., 45., 55., 36., 49., 88., 83.,
       79., 77., 73., 64., 87., 54., 76., 65., 57., 61., 67.])

In [35]:
df_summer.loc[(df_summer["%defectueux"] < 5), "Good defectueux"] = 1
df_summer.loc[(df_summer["%defectueux"] >= 5), "Good defectueux"] = 0
# on considère que les stations + où on ne peut pas savoir le nombre de défectueux n'en ont pas beaucoup
df_summer.loc[df_summer["Good defectueux"].isnull(), "Good defectueux"] = 0

C:\Users\Emma\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Emma\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [36]:
df_summer

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken,StationPlus,%defectueux,Good defectueux
0,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 00:40:43+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 01:00:00+02:00,0,NON,0.0,1.0
1,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 01:37:31+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 02:00:00+02:00,0,NON,0.0,1.0
2,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 02:37:39+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 03:00:00+02:00,0,NON,0.0,1.0
3,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 03:37:48+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 04:00:00+02:00,0,NON,0.0,1.0
4,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 04:39:55+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 05:00:00+02:00,0,NON,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051234,Youri Gagarine - Karl Marx,48003,3,2,2022-08-31 19:06:05+02:00,5,17,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 19:00:00+02:00,0,NON,0.0,1.0
4051235,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 19:58:14+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 20:00:00+02:00,0,NON,0.0,1.0
4051236,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 21:06:53+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 21:00:00+02:00,0,NON,0.0,1.0
4051237,Youri Gagarine - Karl Marx,48003,2,2,2022-08-31 22:06:58+02:00,4,18,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 22:00:00+02:00,0,NON,0.0,1.0
4051238,Youri Gagarine - Karl Marx,48003,3,3,2022-08-31 23:07:05+02:00,6,16,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 23:00:00+02:00,0,NON,0.0,1.0

In [37]:
def calculate_tauxdefectueux(df): 
    taux = round(df["numbikesordocksbroken"].mean() / (df["capacity"].mean()) * 100, 2)
    return taux

In [38]:
calculate_tauxdefectueux(df_summer)

3.61

In [39]:
minidfcarnot1ermai = df_summer[df_summer["name"] == "Carnot - Pâquerettes"]
minidfcarnot1ermai = minidfcarnot1ermai[(minidfcarnot1ermai["duedate"].dt.day == 1) & (minidfcarnot1ermai["duedate"].dt.month == 5)]
calculate_tauxdefectueux(minidfcarnot1ermai)

nan

In [40]:
calculate_tauxdefectueux(df_summer[df_summer["commune"] == "Alfortville"])

3.76

In [41]:
# moyenne arithmétique pas bon  !!!
df_summer.loc[df_summer["commune"] == "Alfortville", "%defectueux"].mean()

3.819315505057503

# <font color='red'>TAUX D'OCCUPATION</font>

## Taux d'occupation

In [80]:
df_summer["%occupation"] = df_summer["numbikesavailable"]  / (df_summer["capacity"] - df_summer["numbikesordocksbroken"]) * 100

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [87]:
df_summer.loc[(df_summer["%occupation"] <= 70) | (df_summer["%occupation"] >= 30), "Good occupation"] = "OK"
df_summer.loc[(df_summer["%occupation"] > 70), "Good occupation"] = "SATURE"
df_summer.loc[(df_summer["%occupation"] < 30), "Good occupation"] = "VIDE"

In [88]:
df_summer

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,...,commune,month,interval,numbikesordocksbroken,StationPlus,%defectueux,Good defectueux,%occupation,Good occupation,%free
0,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 00:40:43+02:00,9,27,36,OUI,OUI,...,Champigny-sur-Marne,5,2022-05-01 01:00:00+02:00,0,NON,0.0,1.0,25.000000,VIDE,75.0
1,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 01:37:31+02:00,9,27,36,OUI,OUI,...,Champigny-sur-Marne,5,2022-05-01 02:00:00+02:00,0,NON,0.0,1.0,25.000000,VIDE,75.0
2,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 02:37:39+02:00,9,27,36,OUI,OUI,...,Champigny-sur-Marne,5,2022-05-01 03:00:00+02:00,0,NON,0.0,1.0,25.000000,VIDE,75.0
3,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 03:37:48+02:00,9,27,36,OUI,OUI,...,Champigny-sur-Marne,5,2022-05-01 04:00:00+02:00,0,NON,0.0,1.0,25.000000,VIDE,75.0
4,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 04:39:55+02:00,9,27,36,OUI,OUI,...,Champigny-sur-Marne,5,2022-05-01 05:00:00+02:00,0,NON,0.0,1.0,25.000000,VIDE,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051234,Youri Gagarine - Karl Marx,48003,3,2,2022-08-31 19:06:05+02:00,5,17,22,OUI,OUI,...,Villejuif,8,2022-08-31 19:00:00+02:00,0,NON,0.0,1.0,22.727273,VIDE,77.0
4051235,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 19:58:14+02:00,3,19,22,OUI,OUI,...,Villejuif,8,2022-08-31 20:00:00+02:00,0,NON,0.0,1.0,13.636364,VIDE,86.0
4051236,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 21:06:53+02:00,3,19,22,OUI,OUI,...,Villejuif,8,2022-08-31 21:00:00+02:00,0,NON,0.0,1.0,13.636364,VIDE,86.0
4051237,Youri Gagarine - Karl Marx,48003,2,2,2022-08-31 22:06:58+02:00,4,18,22,OUI,OUI,...,Villejuif,8,2022-08-31 22:00:00+02:00,0,NON,0.0,1.0,18.181818,VIDE,82.0
4051238,Youri Gagarine - Karl Marx,48003,3,3,2022-08-31 23:07:05+02:00,6,16,22,OUI,OUI,...,Villejuif,8,2022-08-31 23:00:00+02:00,0,NON,0.0,1.0,27.272727,VIDE,73.0

In [93]:
def calculate_pctinterval_tauxoccupation(df): 
    pct = {}
    pct['VIDE'] = round((df[df["Good occupation"] == "VIDE"].shape[0] / df.shape[0]) * 100, 2)
    pct['SATURE'] = round((df[df["Good occupation"] == "SATURE"].shape[0] / df.shape[0]) * 100, 2)
    pct['OK'] = round((df[df["Good occupation"] == "OK"].shape[0] / df.shape[0]) * 100, 2)
    return pct

In [94]:
calculate_pctinterval_tauxoccupation(df_summer[df_summer["commune"] == "Alfortville"])

{'VIDE': 6.11, 'SATURE': 66.52, 'OK': 27.37}

In [45]:
def calculate_tauxoccupation(df): 
    taux = round(df["numbikesavailable"].mean() / (df["capacity"].mean() - df["numbikesordocksbroken"].mean()) * 100, 1)
    return taux

In [46]:
calculate_tauxoccupation(minidfcarnot1ermai)

nan

In [47]:
calculate_tauxoccupation(df_summer[df_summer["commune"] == "Alfortville"])

75.6

In [48]:
calculate_tauxoccupation(df_summer)

36.5

In [49]:
calculate_tauxoccupation(df_summer[df_summer["name"] == "Regnault - Patay"])

87.3

In [50]:
taux_occupation_moyen_bystation = df_summer.groupby("name")["%occupation"].mean().round(1).sort_values(ascending = False)
taux_occupation_moyen_bystation

name
Republique - Louis Loucheur                           90.0
Place Mongolfier                                      87.6
Regnault - Patay                                      87.3
Parvis Corentin Celton                                86.1
Westermeyer - Paul Vaillant-Couturier                 85.7
                                                      ...
Batignolles - Beudant                                  7.7
Alexander Fleming - Belvedere                          7.5
Square du Theatre du Garde-Chasse                      7.0
Porte des Lilas - Faidherbe                            6.0
Marechal Leclerc de Hauteclocque - Marche Buzenval     5.8
Name: %occupation, Length: 1424, dtype: float64

In [84]:
bad_stations_occ = taux_occupation_moyen_bystation[(taux_occupation_moyen_bystation > 70) | (taux_occupation_moyen_bystation < 30)]
bad_stations_occ

name
Republique - Louis Loucheur                           90.0
Place Mongolfier                                      87.6
Regnault - Patay                                      87.3
Parvis Corentin Celton                                86.1
Westermeyer - Paul Vaillant-Couturier                 85.7
                                                      ...
Batignolles - Beudant                                  7.7
Alexander Fleming - Belvedere                          7.5
Square du Theatre du Garde-Chasse                      7.0
Porte des Lilas - Faidherbe                            6.0
Marechal Leclerc de Hauteclocque - Marche Buzenval     5.8
Name: %occupation, Length: 673, dtype: float64

In [52]:
good_stations_occ = taux_occupation_moyen_bystation[(taux_occupation_moyen_bystation <= 85) & (taux_occupation_moyen_bystation >= 25)]
good_stations_occ

name
Gare de Nogent-le-Perreux             84.7
Roger Salengro - General de Gaulle    84.1
Place de Verdun                       84.0
Place Paul Eluard                     83.5
Marc Sangnier - Division Leclerc      82.5
                                      ...
Portugais - Kleber                    25.1
Jourdan - Monticelli                  25.1
Pyrenees - Cours de Vincennes         25.0
Hautpoul - Jean Jaures                25.0
Petit - Georges Thill                 25.0
Name: %occupation, Length: 1006, dtype: float64

## Taux de disponibilité

In [53]:
df_summer["%free"] = round(df_summer["numdocksavailable"] / (df_summer["capacity"] - df_summer["numbikesordocksbroken"]) * 100)

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [225]:
def calculate_tauxdispo(df): 
    taux = round(df["numdocksavailable"].mean() / (df["capacity"].mean() - df["numbikesordocksbroken"].mean()) * 100, 1)
    return taux

In [55]:
calculate_tauxdispo(minidfcarnot1ermai)

nan

In [56]:
calculate_tauxdispo(df_summer[df_summer["commune"] == "Alfortville"])

24.4

In [226]:
calculate_tauxdispo(df_summer)

63.5

In [227]:
calculate_tauxdispo(df_allrows_summer)

63.7

In [58]:
(df_summer["%occupation"] + df_summer["%free"]).unique()

array([100.,  99.])

# POURCENTAGE DE TEMPS PENDANT LEQUEL LA STATION N'EST PAS OPERATIONELLE

In [59]:
df_allrows_summer["is_renting"] = df_allrows_summer["is_renting"].str.replace("OUI", "1")
df_allrows_summer["is_renting"] = df_allrows_summer["is_renting"].str.replace("NON", "0")
df_allrows_summer["is_renting"] = df_allrows_summer["is_renting"].astype(int)

In [60]:
df_allrows_summer["is_returning"] = df_allrows_summer["is_returning"].str.replace("OUI", "1")
df_allrows_summer["is_returning"] = df_allrows_summer["is_returning"].str.replace("NON", "0")
df_allrows_summer["is_returning"] = df_allrows_summer["is_returning"].astype(int)

In [61]:
df_allrows_summer["is_installed"] = df_allrows_summer["is_installed"].str.replace("OUI", "1")
df_allrows_summer["is_installed"] = df_allrows_summer["is_installed"].str.replace("NON", "0")
df_allrows_summer["is_installed"] = df_allrows_summer["is_installed"].astype(int)

In [62]:
def calculate_taux_nonop_stations_dansletemps(df):
    
    nb_lignes_fonctionnelles_bystation = df[(df["is_renting"] == 1) & (df["is_returning"] == 1) & (df["is_installed"] == 1)].groupby("name")["is_renting"].count()
    nb_lignes_nonfonctionnelles_bystation = (df[(df["is_renting"] == 0) | (df["is_returning"] == 0) | (df["is_installed"] == 0) ]).groupby("name")["is_renting"].count()
    
    ind_to_add = nb_lignes_fonctionnelles_bystation.index.isin(nb_lignes_nonfonctionnelles_bystation.index)
    copytoadd = nb_lignes_fonctionnelles_bystation[~ind_to_add]
    copytoadd[:] = 0
    copytoadd
    
    nb_lignes_nonfonctionnelles_bystation = pd.concat([nb_lignes_nonfonctionnelles_bystation, copytoadd])
    
    nb_lignes_bystation = df.groupby("name")["name"].count()
    
    taux_nonop_bystation = (round((nb_lignes_nonfonctionnelles_bystation / nb_lignes_bystation ) * 100, 1)).sort_values(ascending = False)
    
    return taux_nonop_bystation

In [63]:
calculate_taux_nonop_stations_dansletemps(df_allrows_summer)

name
Pablo Picasso - Maurice Thorez    100.0
Parc Roger Salengro               100.0
Bateliers - Quai de Seine         100.0
Docteur Calmette - Martre         100.0
Place Andre Malraux                90.2
                                  ...
Pasteur - Cotentin                  0.0
Pasteur - Gambetta                  0.0
Pau Casals - Neuve Tolbiac          0.0
Paul Barruel - Vaugirard            0.0
11 Novembre 1918 - 8 Mai 1945       0.0
Length: 1428, dtype: float64

In [64]:
print("La station Place André Malraux est non opérationnelle 90.2% du temps entre mai et août 2023.")

La station Place André Malraux est non opérationnelle 90.2% du temps entre mai et août 2023.

In [65]:
calculate_taux_nonop_stations_dansletemps(df_allrows_summer[df_allrows_summer["duedate"].dt.month == 8])

name
Parc Roger Salengro                       100.0
Place Leon Gambetta                       100.0
Pablo Picasso - Maurice Thorez            100.0
Cadet - La Fayette                        100.0
Place de l'Hotel de Ville                 100.0
                                          ...
Petites Ecuries - Faubourg Saint-Denis      0.0
Phalsbourg - Villiers                       0.0
Philippe-Auguste                            0.0
Piat - Parc de Belleville                   0.0
11 Novembre 1918 - 8 Mai 1945               0.0
Length: 1419, dtype: float64

In [66]:
print("La station Place André Malraux est non opérationnelle 100% du temps en août 2023.")

La station Place André Malraux est non opérationnelle 100% du temps en août 2023.

In [131]:
df_communes['Superficie en 2019'] = df_communes['Superficie en 2019'].str.replace(",", ".").astype(float)
df_communes['Superficie en 2019']

0      1.8
1      1.0
2      1.2
3      1.6
4      2.5
      ...
75     1.4
76     5.3
77     1.9
78    11.7
79    17.2
Name: Superficie en 2019, Length: 80, dtype: float64

In [132]:
df_communes['Superficie en 2019'].index = df_communes['Commune']

In [141]:
nb_stations_bycommune["Alfortville"]

5

In [140]:
df_communes['Superficie en 2019']["Alfortville"]

3.7

In [146]:
df_communes['Superficie en 2019']["Arcueil"]

2.3

In [142]:
df_communes['Superficie en 2019'].sum()

402.4

In [ ]:
stations_km2 = nb_stations_bycommune / df_communes['Superficie en 2019']
stations_km2

In [154]:
nb_stations_bycommune2 = df_allrows_summer.groupby("commune")["stationcode"].nunique().sort_values(ascending = False)

In [155]:
stations_km2 = nb_stations_bycommune2 / df_communes['Superficie en 2019']
stations_km2

Alfortville           1.351351
Arcueil               1.739130
Argenteuil            0.290698
Asnieres-sur-Seine    1.875000
Aubervilliers         2.241379
                        ...
Vanves                4.375000
Ville-d'Avray         0.270270
Villejuif             1.886792
Vincennes             5.263158
Vitry-sur-Seine       1.367521
Length: 80, dtype: float64

In [168]:
print(f"Il y a au total en moyenne {round(nb_stations_bycommune2.sum() / df_communes['Superficie en 2019'].sum(), 1)} stations par km^2")

Il y a au total en moyenne 3.5 stations par km^2

In [169]:
df_communes["Total Utilisateurs potentiels"] = df_communes["Population en 2019"] + df_communes["nb chb hotels"]*2 + df_communes["Emploi total (salarie et non salarie) au lieu de travail en 2019"]

In [170]:
df_communes

,Commune,nb chb hotels,Population en 2019,Superficie en 2019,"Mediane du revenu disponible par unite de consommation en 2020, en euros",Emploi total (salarie et non salarie) au lieu de travail en 2019,Couleur politique maire,Departement,Total Utilisateurs potentiels
0,Paris 01,4201,15917,1.8,33960,66049,GAUCHE,75,90368
1,Paris 02,2304,21595,1.0,32380,65082,GAUCHE,75,91285
2,Paris 03,1118,34025,1.2,33180,32029,GAUCHE,75,68290
3,Paris 04,948,29131,1.6,31790,41494,GAUCHE,75,72521
4,Paris 05,3092,58227,2.5,34650,53063,DROITE,75,117474
...,...,...,...,...,...,...,...,...,...
75,Saint-Maurice,195,14189,1.4,27830,6012,DROITE,94,20591
76,Villejuif,213,55208,5.3,21020,22214,GAUCHE,94,77848
77,Vincennes,161,49788,1.9,33580,17021,DROITE,94,67131
78,Vitry-sur-Seine,201,95510,11.7,19100,27658,GAUCHE,94,123570
79,Argenteuil,365,111038,17.2,18930,29685,DROITE,95,141453

In [173]:
df_communes["Total Utilisateurs potentiels"].index = df_communes["Commune"]

In [192]:
nb_bornettes_bycommune2 = df_allrows_summer.groupby(["commune", "name"])["capacity"].mean().groupby("commune").sum().sort_values(ascending = False).round().astype(int)

In [219]:
utilisateurs_bornette = (df_communes["Total Utilisateurs potentiels"] / nb_bornettes_bycommune2)#.astype(int)
utilisateurs_bornette

Alfortville           468.278689
Arcueil               328.739496
Argenteuil            878.590062
Asnieres-sur-Seine    467.639831
Aubervilliers         305.376238
                         ...
Vanves                157.752137
Ville-d'Avray         551.416667
Villejuif             306.488189
Vincennes             219.382353
Vitry-sur-Seine       272.180617
Length: 80, dtype: float64

In [228]:
print(f"Il y a au total en moyenne {df_communes['Total Utilisateurs potentiels'].sum() / nb_bornettes_bycommune.sum()} utilisateurs par bornette")

Il y a au total en moyenne 194.7418967587035 utilisateurs par bornette