In [1]:
import pandas as pd
import numpy as np

#  LOADER LES DFS NETTOYES ET LES CONCATENER

In [2]:
df1 = pd.read_csv("cleaned_df1_Velib_MAY_2022.csv")

In [3]:
df2 = pd.read_csv("cleaned_df2_Velib_JUNE_2022.csv")

In [4]:
df3 = pd.read_csv("cleaned_df3_Velib_JULY_2022.csv")

In [5]:
df4 = pd.read_csv("cleaned_df4_Velib_AUG_2022.csv")

In [6]:
all_dfs = [df1, df2, df3, df4]

In [7]:
df_summer = pd.concat(all_dfs)

In [8]:
df_summer.shape

(12675098, 17)

In [9]:
df_summer = df_summer.reset_index(drop = True)
df_summer = df_summer.drop(columns = "Unnamed: 0")

In [10]:
df_summer

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757,Paris 16
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925,Paris 11
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875,Paris 12
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373,Paris 09
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436,Paris 05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12675093,Boissière - Etienne Dolet,31102,14,1,"48.876111, 2.4677312",2022-08-31 16:06:00+02:00,15,2,21,OUI,OUI,Montreuil,OUI,48.8761,2.4677,Montreuil
12675094,Boissière - Etienne Dolet,31102,14,1,"48.876111, 2.4677312",2022-08-31 16:06:00+02:00,15,0,21,OUI,OUI,Montreuil,OUI,48.8761,2.4677,Montreuil
12675095,Boissière - Etienne Dolet,31102,13,1,"48.876111, 2.4677312",2022-08-31 16:06:00+02:00,14,1,21,OUI,OUI,Montreuil,OUI,48.8761,2.4677,Montreuil
12675096,Boissière - Etienne Dolet,31102,13,1,"48.876111, 2.4677312",2022-08-31 16:06:00+02:00,14,2,21,OUI,OUI,Montreuil,OUI,48.8761,2.4677,Montreuil
12675097,Boissière - Etienne Dolet,31102,12,1,"48.876111, 2.4677312",2022-08-31 16:06:00+02:00,13,3,21,OUI,OUI,Montreuil,OUI,48.8761,2.4677,Montreuil

In [11]:
#df_summer.to_csv("df_Velib_summer_2022.csv")

In [12]:
df_summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12675098 entries, 0 to 12675097
Data columns (total 16 columns):
name                           object
stationcode                    int64
ebike                          int64
mechanical                     int64
coordonnees_geo                object
duedate                        object
numbikesavailable              int64
numdocksavailable              int64
capacity                       int64
is_renting                     object
is_installed                   object
nom_arrondissement_communes    object
is_returning                   object
Latitude                       float64
Longitude                      float64
arrondissement                 object
dtypes: float64(2), int64(6), object(8)
memory usage: 1.5+ GB

In [13]:
df_summer.isnull().sum()

name                           0
stationcode                    0
ebike                          0
mechanical                     0
coordonnees_geo                0
duedate                        0
numbikesavailable              0
numdocksavailable              0
capacity                       0
is_renting                     0
is_installed                   0
nom_arrondissement_communes    0
is_returning                   0
Latitude                       0
Longitude                      0
arrondissement                 0
dtype: int64

In [14]:
df_summer.nunique()

name                              1434
stationcode                       1432
ebike                               61
mechanical                          73
coordonnees_geo                   1516
duedate                        1255365
numbikesavailable                   85
numdocksavailable                   97
capacity                            66
is_renting                           2
is_installed                         2
nom_arrondissement_communes         61
is_returning                         2
Latitude                           823
Longitude                         1013
arrondissement                      80
dtype: int64

# NETTOYER LE DF TOTAL

In [15]:
# on peut dropper la colonne nom_arrondissement_communes
df_summer_cleaned = df_summer.drop(columns = "nom_arrondissement_communes")

In [16]:
# on peut dropper la colonne coordonnees_geo
df_summer_cleaned = df_summer_cleaned.drop(columns = "coordonnees_geo")

In [17]:
# on transforme a colonne des codes de stations en string
df_summer_cleaned["stationcode"] = df_summer["stationcode"].astype(str)

In [18]:
# renommer la colonne arrondissement
df_summer_cleaned = df_summer_cleaned.rename(columns = {"arrondissement": "commune"})

In [19]:
# Convertir la colonne "duedate" en type datetime
df_summer_cleaned["duedate"] = pd.to_datetime(df_summer_cleaned["duedate"])

In [20]:
# Ajouter une nouvelle colonne pour les mois
df_summer_cleaned["month"] = df_summer_cleaned["duedate"].dt.month

In [21]:
# Ajouter une nouvelle colonne pour les intervalles de 15 minutes
df_summer_cleaned["interval"] = df_summer_cleaned["duedate"].dt.round("H")

In [22]:
df_summer_cleaned["numbikesordocksbroken"] = df_summer_cleaned["capacity"] - (df_summer_cleaned["numbikesavailable"] + df_summer_cleaned["numdocksavailable"])

In [23]:
df_summer_cleaned

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken
0,Benjamin Godard - Victor Hugo,16107,2,1,2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,OUI,48.8659,2.2757,Paris 16,5,2022-05-01 01:00:00+02:00,1
1,Charonne - Robert et Sonia Delauney,11104,9,4,2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,OUI,48.8559,2.3925,Paris 11,5,2022-05-01 01:00:00+02:00,2
2,Mairie du 12ème,12109,0,0,2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,NON,48.8408,2.3875,Paris 12,5,2022-05-01 01:00:00+02:00,0
3,Toudouze - Clauzel,9020,1,1,2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,OUI,48.8792,2.3373,Paris 09,5,2022-05-01 01:00:00+02:00,0
4,Harpe - Saint-Germain,5001,2,34,2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,OUI,48.8515,2.3436,Paris 05,5,2022-05-01 01:00:00+02:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12675093,Boissière - Etienne Dolet,31102,14,1,2022-08-31 16:06:00+02:00,15,2,21,OUI,OUI,OUI,48.8761,2.4677,Montreuil,8,2022-08-31 16:00:00+02:00,4
12675094,Boissière - Etienne Dolet,31102,14,1,2022-08-31 16:06:00+02:00,15,0,21,OUI,OUI,OUI,48.8761,2.4677,Montreuil,8,2022-08-31 16:00:00+02:00,6
12675095,Boissière - Etienne Dolet,31102,13,1,2022-08-31 16:06:00+02:00,14,1,21,OUI,OUI,OUI,48.8761,2.4677,Montreuil,8,2022-08-31 16:00:00+02:00,6
12675096,Boissière - Etienne Dolet,31102,13,1,2022-08-31 16:06:00+02:00,14,2,21,OUI,OUI,OUI,48.8761,2.4677,Montreuil,8,2022-08-31 16:00:00+02:00,5
12675097,Boissière - Etienne Dolet,31102,12,1,2022-08-31 16:06:00+02:00,13,3,21,OUI,OUI,OUI,48.8761,2.4677,Montreuil,8,2022-08-31 16:00:00+02:00,5

In [24]:
list_to_replace = [("é","e"), ("è","e"), ("ê", "e"), ("É", "E"), ("É", "E"), ("Ê", "E"), ("à", "a"), ("â", "a"), ("Â", "A"), ("ï", "i"), ("î", "i"), ("Ï", "I"), ("Î", "I"), ("û", "u"), ("ô", "o"), ("ç", "c")]
for tupl in list_to_replace:
    df_summer_cleaned["name"] = df_summer_cleaned["name"].str.replace(tupl[0], tupl[1])

In [35]:
list_to_replace2 = [("é","e"), ("è","e"), ("ê", "e"), ("â", "a")]
for tupl in list_to_replace2:
    df_summer_cleaned["commune"] = df_summer_cleaned["commune"].str.replace(tupl[0], tupl[1])

In [40]:
grp = df_summer_cleaned.groupby(['name', 'interval'])['duedate'].idxmax()
grp

name                           interval
11 Novembre 1918 - 8 Mai 1945  2022-05-01 01:00:00+02:00         120
                               2022-05-01 02:00:00+02:00        4280
                               2022-05-01 03:00:00+02:00        8441
                               2022-05-01 04:00:00+02:00       12059
                               2022-05-01 05:00:00+02:00       15470
                                                              ...
Youri Gagarine - Karl Marx     2022-08-31 19:00:00+02:00    12648178
                               2022-08-31 20:00:00+02:00    12654384
                               2022-08-31 21:00:00+02:00    12660101
                               2022-08-31 22:00:00+02:00    12665234
                               2022-08-31 23:00:00+02:00    12670192
Name: duedate, Length: 4054336, dtype: int64

In [41]:
new_df_summer_cleaned = df_summer_cleaned.loc[grp]
new_df_summer_cleaned

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken
120,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 00:40:43+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 01:00:00+02:00,0
4280,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 01:37:31+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 02:00:00+02:00,0
8441,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 02:37:39+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 03:00:00+02:00,0
12059,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 03:37:48+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 04:00:00+02:00,0
15470,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 04:39:55+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 05:00:00+02:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12648178,Youri Gagarine - Karl Marx,48003,3,2,2022-08-31 19:06:05+02:00,5,17,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 19:00:00+02:00,0
12654384,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 19:58:14+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 20:00:00+02:00,0
12660101,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 21:06:53+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 21:00:00+02:00,0
12665234,Youri Gagarine - Karl Marx,48003,2,2,2022-08-31 22:06:58+02:00,4,18,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 22:00:00+02:00,0
12670192,Youri Gagarine - Karl Marx,48003,3,3,2022-08-31 23:07:05+02:00,6,16,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 23:00:00+02:00,0

In [42]:
new_df_summer_cleaned["stationcode"].nunique()

1432

In [43]:
new_df_summer_cleaned["name"].nunique()

1434

In [44]:
new_df_summer_cleaned.groupby("stationcode")["name"].nunique().sort_values(ascending = False)

stationcode
16200    3
48010    2
31024    2
92008    1
16138    1
        ..
27006    1
28001    1
28005    1
30005    1
10001    1
Name: name, Length: 1432, dtype: int64

In [45]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["stationcode"] == '16200', "name"].unique()

array(['Solidays - 24 au 26 juin - 14h00 a 5h00',
       'Solidays - 24 au 26 juin - 16h00 a 5h00',
       'Station Ephemere Solidays - du 24 au 26 juin'], dtype=object)

In [46]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["stationcode"] == '16200', "name"] = 'Solidays - 24 au 26 juin - 16h00 à 5h00'

In [47]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["stationcode"] == '31024', "name"].unique()

array(['Romainville - Vaillant-Couturier',
       'Romainville - Vaillant-couturier'], dtype=object)

In [48]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["stationcode"] == '31024', "name"] = 'Romainville - Vaillant-Couturier'

In [49]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["stationcode"] == '48010', "name"].unique()

array(['Karl Marx', 'Karl Marx.'], dtype=object)

In [50]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["stationcode"] == '48010', "name"] = 'Karl Marx'

In [51]:
new_df_summer_cleaned.groupby("stationcode")["name"].nunique().sort_values(ascending = False)

stationcode
92008    1
17012    1
16121    1
16122    1
16123    1
        ..
28001    1
28005    1
30005    1
30007    1
10001    1
Name: name, Length: 1432, dtype: int64

In [52]:
new_df_summer_cleaned["stationcode"].nunique()

1432

In [53]:
new_df_summer_cleaned["name"].nunique()

1430

In [54]:
new_df_summer_cleaned.groupby("name")["stationcode"].nunique().sort_values(ascending = False)

name
Chateau - Republique                    2
Place Nelson Mandela                    2
Gare de Clamart                         1
Gare de Courbevoie                      1
Gare de Laplace                         1
                                       ..
Pierre Grenier - Pont de Billancourt    1
Pierre Joseph Desault                   1
Pierre Larousse - Raymond Losserand     1
Pierre Lefaucheux - Traversiere         1
11 Novembre 1918 - 8 Mai 1945           1
Name: stationcode, Length: 1430, dtype: int64

In [66]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["name"] == 'Place Nelson Mandela', "commune"]

1422        Rueil-Malmaison
5116               Nanterre
9203               Nanterre
12873              Nanterre
15381       Rueil-Malmaison
                 ...
12654345    Rueil-Malmaison
12660056    Rueil-Malmaison
12665177    Rueil-Malmaison
12670141    Rueil-Malmaison
12674935           Nanterre
Name: commune, Length: 2902, dtype: object

In [60]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["name"] == "Place Nelson Mandela", "stationcode"].unique()

array(['25006', '92006'], dtype=object)

In [67]:
new_df_summer_cleaned.loc[(new_df_summer_cleaned["name"] == "Place Nelson Mandela") & (new_df_summer_cleaned["stationcode"] == '92006'), "name"] = "Place Nelson Mandela Nanterre"

In [68]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["name"] == "Place Nelson Mandela", "stationcode"].unique()

array(['25006'], dtype=object)

In [69]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["name"] == "Chateau - Republique", "stationcode"].unique()

array(['31706', '22504'], dtype=object)

In [74]:
new_df_summer_cleaned.loc[(new_df_summer_cleaned["name"] == "Chateau - Republique") & (new_df_summer_cleaned["stationcode"] == '31706'), "name"] = "Chateau - Republique Bagnolet"

In [75]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["name"] == "Chateau - Republique", "stationcode"].unique()

array(['22504'], dtype=object)

In [78]:
new_df_summer_cleaned.groupby("name")["stationcode"].nunique().sort_values(ascending = False)

name
Youri Gagarine - Karl Marx             1
Gare du Nord - Denain                  1
Gare de Clichy-Levallois               1
Gare de Courbevoie                     1
Gare de Laplace                        1
                                      ..
Pierre Joseph Desault                  1
Pierre Larousse - Raymond Losserand    1
Pierre Lefaucheux - Traversiere        1
Pierre Levee - Fontaine Timbaud        1
11 Novembre 1918 - 8 Mai 1945          1
Name: stationcode, Length: 1432, dtype: int64

In [79]:
new_df_summer_cleaned["name"].nunique()

1432

In [80]:
print(f'Il y a {new_df_summer_cleaned["stationcode"].nunique()} stations Vélib au total')

Il y a 1432 stations Vélib au total

In [81]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["capacity"] == 0, "name"].unique()

array(['Bracion - Peripherique', 'Convention - Campus de Bobigny',
       'Gare RER - General de Gaulle',
       'President Roosevelt - Rouget de Lisle',
       'Resistance - Romain Rolland', 'Romainville - Vaillant-Couturier',
       'Saint-Germain-des-Pres', 'Stalingrad - General de Gaulle'],
      dtype=object)

In [82]:
new_df_summer_cleaned[(new_df_summer_cleaned["name"] == "Saint-Germain-des-Pres") & (new_df_summer_cleaned["capacity"] == 0)]

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken
9120061,Saint-Germain-des-Pres,6024,0,0,2022-07-25 16:15:27+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,7,2022-07-25 16:00:00+02:00,0
9124835,Saint-Germain-des-Pres,6024,0,0,2022-07-25 17:17:29+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,7,2022-07-25 17:00:00+02:00,0
9130617,Saint-Germain-des-Pres,6024,0,0,2022-07-25 18:19:36+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,7,2022-07-25 18:00:00+02:00,0
9137286,Saint-Germain-des-Pres,6024,0,0,2022-07-25 19:15:57+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,7,2022-07-25 19:00:00+02:00,0
9143193,Saint-Germain-des-Pres,6024,0,0,2022-07-25 20:19:45+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,7,2022-07-25 20:00:00+02:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10092484,Saint-Germain-des-Pres,6024,0,0,2022-08-04 08:48:27+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,8,2022-08-04 09:00:00+02:00,0
10098002,Saint-Germain-des-Pres,6024,0,0,2022-08-04 09:40:35+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,8,2022-08-04 10:00:00+02:00,0
10102044,Saint-Germain-des-Pres,6024,0,0,2022-08-04 10:42:43+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,8,2022-08-04 11:00:00+02:00,0
10105904,Saint-Germain-des-Pres,6024,0,0,2022-08-04 11:44:52+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,8,2022-08-04 12:00:00+02:00,0
10110388,Saint-Germain-des-Pres,6024,0,0,2022-08-04 12:46:57+02:00,0,0,0,NON,OUI,NON,48.8541,2.3303,Paris 06,8,2022-08-04 13:00:00+02:00,0

In [83]:
new_df_summer_cleaned = new_df_summer_cleaned.drop(new_df_summer_cleaned[new_df_summer_cleaned["capacity"] == 0].index)

In [84]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["capacity"] == 0, "name"].unique()

array([], dtype=object)

In [85]:
new_df_summer_cleaned["name"].str.find("Gare RER - General de Gaulle").max()

0

In [86]:
new_df_summer_cleaned["name"].str.find("Romainville - Vaillant-Couturier").max()

0

In [87]:
new_df_summer_cleaned["name"].str.find("Resistance - Romain Rolland").max()

0

In [88]:
new_df_summer_cleaned["name"].str.find("Saint-Germain-des-Pres").max()

0

In [89]:
print(f'Il y a {new_df_summer_cleaned["stationcode"].nunique()} stations Vélib au total')

Il y a 1428 stations Vélib au total

In [90]:
# nombre de station +
new_df_summer_cleaned.loc[new_df_summer_cleaned["numbikesordocksbroken"] < 0, "name"].nunique()

47

In [91]:
# nombre de station +
nom_stations_plus = new_df_summer_cleaned.loc[new_df_summer_cleaned["numbikesordocksbroken"] < 0, "name"].unique()
nom_stations_plus

array(['Abbe Groult - Convention', 'Aqueduc - Villette',
       'Aristide Briand - Place de la Resistance',
       'BNF - Bibliotheque Nationale de France',
       'Balard - Montagne de la Fage', 'Bercy - Villot',
       'Bosquet - Saint-Dominique', 'Carrefour Pleyel',
       'Caumartin - Provence', 'Ceinture du Lac Inferieure - Saint-Cloud',
       "Chabrol - d'Hauteville", 'Charenton - Diderot',
       'Charles de Gaulle - Madrid', 'Cite de la Musique',
       'Cossonnerie - Sebastopol', 'Daumesnil - Picpus',
       'Enfants du Paradis - Peupliers', 'Gare Arcueil - Cachan',
       'Gare Saint-Lazare - Cour du Havre',
       'Grande Truanderie - Saint-Denis', "Lepic - Armee d'Orient",
       'Louis Lejeune - Barbes', 'Madeleine Vionnet',
       "Mairie d'Ivry-sur-Seine", 'Malesherbes - Place de la Madeleine',
       'Marechal Joffre - Verdun', 'Mornay - Sully',
       'Pablo Picasso - Maurice Thorez', 'Parc Suzanne Lenglen',
       'Pierre Grenier - Pont de Billancourt', 'Place Balard',
       'Place Charles Vallin', 'Place Francois Mitterand',
       'Place Tristan Bernard', 'Place de la Madeleine - Royale',
       'Place du Moulin de Javel', 'Pyrenees - Plaine',
       'Quai des Celestins - Henri IV', 'Saint-Antoine Sevigne',
       'Saint-Denis - Rivoli', 'Saint-Germain-des-Pres',
       'Sebastopol - Rambuteau', 'Stalingrad - Rigollots',
       'Solidays - 24 au 26 juin - 16h00 à 5h00', 'Verdier - Republique',
       'Victoria - Place du Chatelet',
       'Westermeyer - Paul Vaillant-Couturier'], dtype=object)

In [92]:
lignesplus = new_df_summer_cleaned[new_df_summer_cleaned["name"].isin(nom_stations_plus)]

In [93]:
new_df_summer_cleaned.loc[lignesplus.index, "StationPlus"] = "OUI"

In [94]:
new_df_summer_cleaned.loc[new_df_summer_cleaned["StationPlus"].isnull(), "StationPlus"] = "NON"

In [95]:
new_df_summer_cleaned["StationPlus"].unique()

array(['NON', 'OUI'], dtype=object)

In [105]:
new_df_summer_cleaned["Latitude"] = new_df_summer_cleaned["Latitude"].astype(str)

In [106]:
new_df_summer_cleaned["Longitude"] = new_df_summer_cleaned["Longitude"].astype(str)

In [99]:
new_df_summer_cleaned.isnull().sum()

name                     0
stationcode              0
ebike                    0
mechanical               0
duedate                  0
numbikesavailable        0
numdocksavailable        0
capacity                 0
is_renting               0
is_installed             0
is_returning             0
Latitude                 0
Longitude                0
commune                  0
month                    0
interval                 0
numbikesordocksbroken    0
StationPlus              0
dtype: int64

In [100]:
new_df_summer_cleaned.duplicated().sum()

2

In [101]:
new_df_summer_cleaned = new_df_summer_cleaned.drop_duplicates()

In [102]:
new_df_summer_cleaned.duplicated().sum()

0

In [103]:
new_df_summer_cleaned

,name,stationcode,ebike,mechanical,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,is_returning,Latitude,Longitude,commune,month,interval,numbikesordocksbroken,StationPlus
120,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 00:40:43+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 01:00:00+02:00,0,NON
4280,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 01:37:31+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 02:00:00+02:00,0,NON
8441,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 02:37:39+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 03:00:00+02:00,0,NON
12059,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 03:37:48+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 04:00:00+02:00,0,NON
15470,11 Novembre 1918 - 8 Mai 1945,45003,6,3,2022-05-01 04:39:55+02:00,9,27,36,OUI,OUI,OUI,48.8088,2.5382,Champigny-sur-Marne,5,2022-05-01 05:00:00+02:00,0,NON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12648178,Youri Gagarine - Karl Marx,48003,3,2,2022-08-31 19:06:05+02:00,5,17,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 19:00:00+02:00,0,NON
12654384,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 19:58:14+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 20:00:00+02:00,0,NON
12660101,Youri Gagarine - Karl Marx,48003,1,2,2022-08-31 21:06:53+02:00,3,19,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 21:00:00+02:00,0,NON
12665234,Youri Gagarine - Karl Marx,48003,2,2,2022-08-31 22:06:58+02:00,4,18,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 22:00:00+02:00,0,NON
12670192,Youri Gagarine - Karl Marx,48003,3,3,2022-08-31 23:07:05+02:00,6,16,22,OUI,OUI,OUI,48.7844,2.3590,Villejuif,8,2022-08-31 23:00:00+02:00,0,NON

# ENREGISTRER LE DF FINAL ET TOTAL

In [107]:
#new_df_summer_cleaned.to_csv("df_cleaned_Velib_summer_2022try.csv")